# Ignore the config file with sensitive credentials
config.py
generated_data/session.json
generated_data/encryption.key

# Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore screenshots
screenshots/

# Ignore logs
logs/
\nbuild/
.report.json
